<div class="comment-container">
    <h1>Comment</h1>

    <p>
        <%= @comment.body %>
    </p>

    <%= link_to "Update", edit_comment_path(@comment) %>
    |
    <%= link_to "Delete", comment_path(@comment), method: :delete, data: {confirm: "Are you sure?"} %>
</div>