<h1>About Me</h1>
<div> <%= image_tag "https://media.licdn.com/media/AAEAAQAAAAAAAAH2AAAAJDZjZDdlNWVkLWQ1NGItNDE0Ni1hZGU2LTIzZjMwYzk5N2I1Zg.jpg", class: "profile-picture" %>
</div>
<ul>
    <li>Web Developer</li>
    <li>Blacksmith</li>
    <li>Gamer</li>
    <li>Writer</li>
    <li>Heavy Fighter</li>
</ul>
<p>
    Adoring partner to a most gracious wife. I am the father of three amazing children, Caolan my eldest son, Deirdhre my daughter and Griffyn the youngest boy. I began writing fiction the moment I could hold a pen well enough to scrawl words. I played my first computer game in 1988(Wizardry V: Heart of the Maelstrom) and I have been playing them ever since. I have been doing full contact medieval sword fighting in the SCA and EMP for over 15 years. I grow organic food in my backyard. The family has adopted our street and we do a monthly clean up of our block.
</p>
<p>
    I first tried my hand at programming in the mid 90's but never really pursued it, I revisited that interest again in my adult years and found that a lot had changed in the last 20 years. Its a bright shiny new world of code out there and I am exited to delve into it.

</p>
<p>
    That's about the gist of it.
</p>