<p>Hello <%= @owner.full_name %>,</p>
<p>You've Received an comment on your Post!</p>
<p>Post title: <%= @post.title %></p>
<p>Comment: <%= @comment.body %></p>
<p>Regards,</p>
<p>Wicked Blog Team</p>