<div class="post-form-container">
    <div class="post-form">
        <h1>Comment</h1>
        <div class="form-container">
            <div class="errors">
                <%= @comment.errors.full_messages.join(", ") %>
            </div>
        <%= form_for [@post, @comment] do |f| %>
        <div class="input-container">
            <%= f.text_area :body, {rows: 6, placeholder: "Enter the full comment text here", class: "text-input"}  %>
        </div>
        <%= f.submit "submit", {class: "button"} %>
        <% end %>
    </div>
</div>
